moviepy==2.1.1
python-pptx==1.0.2
python-dotenv==1.0.1
pywin32==308
customtkinter==5.2.2
matplotlib==3.8.4
azure-cognitiveservices-speech==1.41.1
pyttsx3==2.98
requests==2.32.3
baidu-api==4.16.13
chardet==5.2.0